<!--<form class="example-form">-->
<!--<md-chip-list class="mat-chip-list-stacked">
  <md-chip selected="true"  color="Warn">
     ZUADA
  </md-chip>
</md-chip-list>-->

<!--Warn-->


<form #zuadaForm="ngForm" (ngSubmit)="sendZuada(zuadaForm)">
  <md-card class="example-card">
    <md-card-header>
      <!--<div md-card-avatar class="example-header-image"></div>-->
      <md-card-title><h1>ZUADA</h1></md-card-title>
      <!--<md-card-subtitle>Dog Breed</md-card-subtitle>-->
    </md-card-header>
    <!--<img md-card-image src="assets/img/examples/shiba2.jpg">-->
    <!--<md-card-content>
      <p>
        <md-input-container class="example-full-width">
          <textarea mdInput placeholder="Mensagem">[Mensagem não muito ofensiva aqui]</textarea>
        </md-input-container>
      </p>
    </md-card-content>-->
    <md-card-actions>
      <span>Zuadeiros</span>
      <BR>
      <BR>
      <div *ngFor="let person of people">
        <md-checkbox name="{{person.psi}}" id="{{person.psi}}" ngModel>{{person.name}}</md-checkbox><BR>
        <!--<input type="checkbox" name="{{person.psi}}" id="{{person.psi}}" ngModel>{{person.name}}<BR>-->
      </div>
    </md-card-actions>
    <BR>
    <button md-fab><md-icon>check</md-icon></button>
  </md-card>

</form>